<div class="product-info__block-item" data-block-type="feature-with-icon">
  <div
    class="feature-badge border"
    style="--background: 0 102 204 ; background-color: rgb(var(--background));--text-color: 250 250 250; color: rgb(var(--text-color));--border-color: 250 250 250;"
  >
    <svg aria-hidden="true" focusable="false" fill="none" stroke-width="1.5" width="16" class="icon icon-picto-timer" viewBox="0 0 24 24">
        <path clip-rule="evenodd" d="M12 23.25a9 9 0 1 0 0-18 9 9 0 0 0 0 18Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="m18 7.5 1.875-1.875M19.5 5.25l.75.75M12 5.25V.75m2.25 0h-4.5M12 15l-3.75-4.151" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    <p>{{ text }}</p>
  </div>
</div>
