<div
  class="product-offers border"
  style="{% render 'surface', background: background, text_color: text_color, border_color: border_color %}"
>
  <scroll-carousel
    id="{{ carousel_id }}"
    class="product-offers__list product-offers__list--stack divide-y"
  >
    <div class="product-offers__item  snap-center">
      <div class="v-stack gap-2.5">
        <p class="h6">Order in the next <span class="countdownJS"></span></p>
        <div class="prose">
          <p>Get your order between <span class="delivery-range"></span></p>
          <p>
            <em
              >We assure you that your item will be delivered by <span class="max-date"></span>. Should we fail to ship on
              that date, you will receive a 20% credit as compensation.</em
            >
          </p>
        </div>
      </div>
    </div>
  </scroll-carousel>
</div>
